

    body {
        background-color: #a6cff0;
        font-family: 'Lato', sans-serif;
    }
    .full-width {
        clear: both;
        margin: 0 auto;
        overflow: auto;
        width: 1200px;
    }
    h1 {
        color: #000000;
        font-family:'Josefin Sans';
        font-size: 120px;
        font-weight: bold;
        margin-top: 125px;
        margin-bottom: -5px;
        text-align: center;
    }
    nav {
        background-color:rgba(250, 250, 250, 0.6);
        float: right;
        margin-top: 60px;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a {
        color: #000000;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        margin-right: 25px;
        padding: 20px;
        text-transform:uppercase;
        text-decoration:none;
    }
    p {

        font-weight: bold;
        text-align: center;
        word-spacing: 4em;
    }
    main {
        margin: 25px;
        padding:25px;
    }
    .gallery img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
    }
    footer {
        background: #ffffff;
        margin: 50px;
        text-align: center;
    }
