

    body {
        background-color: #a6cff0;
        font-family: 'Lato', sans-serif;
    }
    .full-width {
        clear: both;
        margin: 0 auto;
        overflow: auto;
        width: 1200px;
    }
    h1 {
        color: #000000;
        font-family:'Josefin Sans';
        font-size: 100px;
        font-weight: bold;
        margin-top: 125px;
        margin-bottom: 125px;
        text-align: center;
    }
    nav {
        background-color:rgba(250, 250, 250, 0.6);
        float: right;
        margin-top: 60px;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a {
        color: #000000;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        margin-right: 25px;
        padding: 20px;
        text-transform:uppercase;
        text-decoration:none;
    }
    .container{
        background-color: #ffffff;
        text-align: center;
        padding: 50px;
     }
    .container img{

        display:inline-block;
        margin:25px;
    }

    footer {
        margin: 50px;
        text-align: center;
    }
